.concept {
  padding-bottom: 50px;
  width: 100vw;
  min-height: 100vh;
}

.concept .desc {
  padding: 0 50px;
  text-align: left;
}

.concept .desc p {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.concept-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.concept-item img {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  display: block;
}

#concept-main {
  width: 30vw;
  height: 30vw;
}
