.company {
  font-family: serif;
  color: #2A385E;
}

.company .nav-effect {
  top: 0;
}

.company .nav-item a {
  color: black;
}

.company .row {
  padding-bottom: 30px;
}

@media screen and (min-width: 1100px){
  .company .item {
    margin-top: 120px;
  }
  .ggmap {
    border: solid 1px #2A385E;
    max-height: 400px;
  }

  .company h3 {
    text-align: left;
  }

  .company p {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
  }

  .company .row {
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .info {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1099px){
  .company .item {
    margin: 0;
  }
  .company .access-info {
    margin-top: 70px;
  }
  .ggmap {
    border: solid 1px #2A385E;
    max-height: 400px;
    margin-top: 30px;
  }
  .company h3 {
    text-align: left;
    font-size: 1.1rem;
    margin: 15px 0;
  }
  .company p {
    font-size: 1.1rem;
    margin: 15px 0;
    text-align: left;
  }
  .company .row {
    justify-content: center;
    align-content: center;
    padding: 10px 10px 50px 10px;
  }
  .name {
    width: 100px;
  }
  .year {
    width: 90px;
  }
}

.access-info {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 350px;
}

.access-info img {
  width: 60%;
}

.access-info p {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.history {
  background-color: white;
  width: 100%;
  margin-top: 20px;
}
.history .row {
  display: flex;
}

.summary .row {
  display: flex;
}

.company h2 {
  margin: 0;
  padding-top: 30px;
  font-size: 2.5rem;
  text-align: center;
}

